[submodule "third-party/cutlass"]
	path = third-party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "ffpa-attn-mma"]
	path = ffpa-attn-mma
	url = https://github.com/DefTruth/ffpa-attn-mma.git
[submodule "hgemm-tensorcores-mma"]
	path = hgemm-tensorcores-mma
	url = https://github.com/DefTruth/hgemm-tensorcores-mma.git
